.aboutContainer {
  position: relative;
  width: 100%;
  background-color: #d5dee3;
  .description {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 21px;    
    font-family: din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    color: #010025;
    line-height: 32px;
    .mainDescription {
      font-weight: bold;
      padding-top: 50px;
    }
    p {
      margin-top: 40px;
      max-width: 840px;
    }
  }
}
