.aboutContainer {
  position: relative;
  width: 100%;
  background-color: #d5dee3;
  .description {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 21px;
    font-family: worksans-extralight, work sans, sans-serif;
    color: #010025;
    line-height: 32px;
    .mainDescription {
      font-weight: bold;
      padding-top: 50px;
    }
    p {
      margin-top: 40px;
      max-width: 840px;
    }
  }
  .teamWrapper {
    position: relative;
    width: 100%;
    background-color: #010025;
  }
}
