.taglineContainer {
  position: relative;
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #d5dee3;

  .tagBackground {
    position: absolute !important;
  }
}
