.contactContainer {
  top: 100px;
  background: rgba(8, 17, 99, 0.25);
  position: relative;
  height: 620px;

  .innerContainer {
    display: flex;
    flex-direction: column;

    .contentBox {
      display: flex;
      justify-content: center;

      .menu {
        position: relative;
        height: auto;
        width: 110px;

        nav {
          padding: 0;
          align-items: stretch;

          ul {
            display: flex;
            flex-direction: column;
          }
        }
      }

      .title {
        text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        color: #40667c;
        font-size: 15px;
        font-weight: 600;
        line-height: 2.5em;
      }

      .contactDetails {
        position: relative;
        display: flex;
        flex-direction: column;
        top: 3em;
        font-family: worksans-extralight, work sans, sans-serif;

        .label {
          font-size: 14px;
          line-height: 2em;
          text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
          letter-spacing: 0.15em;
          color: #bfbfbf;
        }
      }

      .contactForm {
        top: 3em;
        position: relative;
      }
    }
  }
}

.header {
  position: relative;
  background: transparent;
  padding: 1.5em 0;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  li {
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: #eef3f6;
    transition: all 0.2s;
    border-bottom: 2px solid #050733;
    &:hover {
      color: white;
    }
  }
}
